<header class="flex justify-between items-center py-3 w-[80%] fixed top-0" >
    <img
        class="rounded-full w-12 h-12"
        src="https://media.licdn.com/dms/image/D4E03AQGYwcgw3i5OYA/profile-displayphoto-shrink_800_800/0/1715011603103?e=1721865600&v=beta&t=3O4YStBro6HZgNCqC-ovowe6KyyIuNwpDho4hRrUePg" alt="Adrian gonzalez orobio ">
    
    <nav class="flex gap-x-10 text-white opacity-90" >
        <a href="/">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="/projects">Projectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>                                               